---
import Page from "../layouts/Page.astro";
import Section from "../components/Section.astro";
---

<Page path={Astro.url.pathname} title="Privacy Policy">
	<Section title="Privacy Policy" id="privacy">
		<h4>Data Collection and Use</h4>
		<p>We store hashed IP addresses and hardware IDs (HWIDs) to ensure the security of our service. This includes authentication, preventing abuse, and enforcing bans.</p>
		<br />
		<p><b>Retention:</b> We retain this data only as long as necessary to fulfill these purposes.</p>
		<br />
		<p><b>User Rights:</b> You may request access to your data or deletion. Please note:</p>
		<ul>
			<li>If you are blacklisted, deletion may not be possible depending on the severity of the situation.</li>
			<li>If you have premium access, requesting deletion will automatically revoke your premium access.</li>
		</ul>
		<p>To request to delete your data please <a href="https://seikoso.pythonanywhere.com/data">click on this link</a></p>
		<br />
		<p><b>Legal Basis:</b> We do not process or share your personal data beyond what is necessary for security purposes. All data handling is based on our <i>legitimate interest</i> <a href="https://gdpr-info.eu/art-6-gdpr/" rel="noreferrer noopener nofollow" target="_blank">(Article 6(1)(f) GDPR)</a> in maintaining the safety of our service.</p>
	</Section>
</Page>
